.container {
    max-width: 900px;
}

.movieTitle {
    max-width: 218px;
}

main {
    display: flex;
    flex-direction: row;
}

#movieContainer {
    display: flex;
    flex-direction: row;
}

#checkoutContainer {
    width: 100px;
}

#checkoutContainer h3 {
    width: 100px;
}

#checkoutContainer button {
    background: none;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: none;
    background-color: rgb(80, 10, 10, 50%);
    border-radius: 16px;
    font-size: 16px;
}

#checkoutContainer button:hover {
    background-color: rgb(80, 10, 10, 100%);
    cursor: pointer;
}

#movieList {
    display: flex;
    flex-direction: row;
}

#movieContainer {
    display: flex;
    flex-direction: row;
}
